/* Colores base para todo el sitio */
:root {
  --beige-claro: #f5f5dc;
  --beige-medio: #e0d9c1;
  --beige-oscuro: #c8bfae;
  --beige-acento: #d9c7a2;
  --texto-principal: #333;
}

body {
  background-color: var(--beige-claro);
  color: var(--texto-principal);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}